mixin table ()
	section.table
		.table__container.container
			h2.h2.table__h2 Доступные конфигурации
			.table__titles
				.table__title.hidden-sm Процессор
				.table__title.hidden-sm Жесткий диск
				.table__title.hidden-sm Память
				.table__title.hidden-sm Цена
				.table__title.hidden-sm 
			.table__content
				.table__slot.cpu
					img(src="assets/img/loader.svg", alt="loader")
				.table__slot.hdd
					img(src="assets/img/loader.svg", alt="loader")
				.table__slot.ram
					img(src="assets/img/loader.svg", alt="loader")
				.table__slot.price
					img(src="assets/img/loader.svg", alt="loader")
				.table__slot
					a.button(href="https://selectel.ru/" target="_blank") Заказать
						
				