doctype html
html(lang="ru")
	head
		block title
			title Тестовое задание Selectel
		meta(charset="utf-8")
		meta(name="description" content="Тестовое задание Selectel")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
		meta(property="og:image" content="path/to/image.jpg")
		meta(name="theme-color" content="#000")
		meta(name="msapplication-navbutton-color" content="#000")
		meta(name="apple-mobile-web-app-status-bar-style" content="#000")
		link(rel="stylesheet" href="css/main.min.css")
		link(href="https://fonts.googleapis.com/css?family=Montserrat:500,600|Roboto&amp;subset=cyrillic" rel="stylesheet")
		link(rel="apple-touch-icon" href="assets/img/favicon.png" type="image/x-icon")
		link(rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon")
	body
		block pagecontent
			h3 content
		script(src="js/scripts.min.js")