mixin footer()
	footer.footer
		.footer__container.container
			.footer__logo
				a(href="https://selectel.ru/" target="_blank")
					img(src="assets/img/selectel.svg" alt="selectel")
			.footer__social-block
				ul
					li
						a(href="https://vk.com/selectel" target="_blank")
							img(src="assets/img/vk.svg", alt="vk")
					li
						a(href="https://www.facebook.com/selectel/" target="_blank")
							img(src="assets/img/fb.svg", alt="facebook")
					li
						a(href="https://twitter.com/selectel" target="_blank")
							img(src="assets/img/tw.svg", alt="twitter")
					li
						a(href="https://habrahabr.ru/company/selectel/" target="_blank")
							img(src="assets/img/hub.svg", alt="habrahabr")
					li
						a(href="https://www.youtube.com/channel/UCVU0Ml1l_Y90wmy5EjWTSng" target="_blank")
							img(src="assets/img/youtube.svg", alt="youtube")
					li
						a(href="https://www.instagram.com/selectel.ru/" target="_blank")
							img(src="assets/img/insta.svg", alt="instagram")

		